<template>
  <a class="mdc-tab" :class="classes" v-on="$listeners">
    <slot />
  </a>
</template>

<script>
  import { MDCTab } from '@material/tabs'

  export default {
    beforeDestroy () {
      this.mdcTab.destroy()
    },
    computed: {
      classes () {
        return {
          'mdc-tab--active': this.active,
          'mdc-tab--with-icon-and-text': this.withIconAndText
        }
      }
    },
    data () {
      return {
        mdcTab: null
      }
    },
    mounted () {
      this.mdcTab = MDCTab.attachTo(this.$el)
    },
    name: 'mdc-tab',
    props: {
      active: Boolean,
      withIconAndText: Boolean
    }
  }
</script>

<style lang="scss" >
</style>
