<template>
  <nav class="mdc-tab-bar" :class="classes">
    <slot />
    <span class="mdc-tab-bar__indicator"></span>
  </nav> 
</template>

<script>
  import { MDCTabBar } from '@material/tabs'
  export default {
    beforeDestroy () {
      this.mdcTabBar.destroy()
    },
    computed: {
      classes () {
        return {
          'mdc-tab-bar--icon-tab-bar': this.iconTabBar,
          'mdc-tab-bar--icons-with-text': this.iconsWithText
        }
      }
    },
    data () {
      return {
        mdcTabBar: null
      }
    },
    mounted () {
      this.mdcTabBar = MDCTabBar.attachTo(this.$el)
    },
    name: 'mdc-tab-bar',
    props: {
      iconTabBar: Boolean,
      iconsWithText: Boolean
    }
  }
</script>

<style lang="scss">
</style>
