<template>
  <button class="mdc-button" :class="classes" v-bind="$attrs" v-on="$listeners">
    <i class="material-icons mdc-button__icon" v-if="icon">{{ icon }}</i>
    <span v-if="label">{{ label }}</span>
    <slot />
  </button>
</template>

<script>
  import { MDCRipple } from '@material/ripple'

  export default {
    beforeDestroy () {
      if (this.ripple) {
        this.mdcRipple.destroy()
      }
    },
    computed: {
      classes () {
        return {
          'mdc-button--raised': this.raised,
          'mdc-button--unelevated': this.unelevated,
          'mdc-button--stroked': this.stroked,
          'mdc-button--dense': this.dense,
          'mdc-button--compact': this.compact
        }
      }
    },
    data () {
      return {
        mdcRipple: null
      }
    },
    mounted () {
      if (this.ripple) {
        this.mdcRipple = MDCRipple.attachTo(this.$el)
      }
    },
    name: 'mdc-button',
    props: {
      icon: String,
      label: String,
      raised: Boolean,
      unelevated: Boolean,
      stroked: Boolean,
      dense: Boolean,
      compact: Boolean,
      ripple: Boolean
    }
  }
</script>

<style lang="scss">
</style>
