<template>
  <a class="material-icons" :class="classes" v-on="$listeners"><slot/></a>
</template>

<script>
  import { MDCRipple } from '@material/ripple'

  export default {
    beforeDestroy () {
      if (this.ripple) {
        this.mdcRipple.destroy()
      }
    },
    computed: {
      classes () {
        return {
          'mdc-toolbar__menu-icon-button': this.menuIcon,
          'mdc-toolbar__icon-button': !this.menuIcon,
          'mdc-ripple-surface': this.ripple
        }
      }
    },
    data () {
      return {
        mdcRipple: null
      }
    },
    mounted () {
      if (this.ripple) {
        this.mdcRipple = MDCRipple.attachTo(this.$el)
      }
    },
    name: 'mdc-toolbar-icon-button',
    props: {
      menuIcon: Boolean,
      ripple: Boolean
    }
  }
</script>

<style lang="scss" >
</style>
