
<template>
  <section class="mdc-toolbar__section" :class="classes">
    <slot />
  </section>
</template>

<script>
export default {
  data () {
    return {
      classes: {
        'mdc-toolbar__section--align-start': this.alignStart,
        'mdc-toolbar__section--align-end': this.alignEnd,
        'mdc-toolbar__section--shrink-to-fit': this.shrinkToFit
      }
    }
  },
  name: 'mdc-toolbar-section',
  props: {
    'alignStart': Boolean,
    'alignEnd': Boolean,
    'shrinkToFit': Boolean
  }
}
</script>
