<template>
  <a class="mdc-toolbar__button" :class="classes" v-on="$listeners">
    <i class="material-icons mdc-button__icon" v-if="icon">{{ icon }}</i>
    <slot/>
  </a>
</template>

<script>
  import { MDCRipple } from '@material/ripple'

  export default {
    beforeDestroy () {
      if (this.ripple) {
        this.mdcRipple.destroy()
      }
    },
    computed: {
      classes () {
        return {
          'mdc-toolbar__menu-icon': this.menuIcon,
          'mdc-toolbar__icon-button': !this.menuIcon,
          'mdc-ripple-surface': this.ripple
        }
      }
    },
    data () {
      return {
        mdcRipple: null
      }
    },
    mounted () {
      if (this.ripple) {
        this.mdcRipple = MDCRipple.attachTo(this.$el)
      }
    },
    name: 'mdc-toolbar-button',
    props: {
      icon: String,
      ripple: Boolean
    }
  }
</script>

<style lang="scss" >

</style>
