<template>
  <header class="mdc-toolbar" :class="classes">
    <slot />
  </header>
</template>

<script>
  import { MDCToolbar } from '@material/toolbar'

  export default {
    beforeDestroy () {
      this.mdcToolbar.destroy()
    },
    computed: {
      classes () {
        return {
          'mdc-toolbar--fixed': this.fixed || this.waterfall || this.fixedLastrowOnly,
          'mdc-toolbar--fixed-lastrow-only': this.fixedLastrowOnly,
          'mdc-toolbar--waterfall': this.waterfall,
          'mdc-toolbar--flexible': this.flexible,
          'mdc-toolbar--flexible-default-behavior': this.flexible && this.flexibleDefault
        }
      }
    },
    data () {
      return {
        mdcToolbar: null
      }
    },
    mounted () {
      this.mdcToolbar = MDCToolbar.attachTo(this.$el)
      this.mdcToolbar.fixedAdjustElement = document.querySelector('.mdc-toolbar-fixed-adjust')
    },
    name: 'mdc-toolbar',
    props: {
      fixedLastrowOnly: Boolean,
      flexible: Boolean,
      flexibleDefault: Boolean,
      fixed: Boolean,
      waterfall: Boolean
    }
  }
</script>

<style lang="scss">
</style>
