<template>
  <div class="mdc-text-field mdc-text-field--textarea" :class="classes">
    <textarea class="mdc-text-field__input"
      :value="value"
      :id="id"
      v-bind="$attrs"
      v-on="$listeners"
      @input="$emit('input', $event.target.value)">
    </textarea>
    <label class="mdc-text-field__label" :for="id" v-if="label">{{ label }}</label>
  </div>
</template>

<script>
  import { MDCTextField } from '@material/textfield'

  export default {
    beforeDestroy () {
      this.mdcTextField.destroy()
    },
    computed: {
      classes () {
        return {
          'mdc-text-field--disabled': this.disabled,
          'mdc-text-field--upgraded': this.upgraded,
          'mdc-text-field--fullwidth': this.fullWidth,
          'mdc-text-field--box': this.box,
          'mdc-text-field--with-leading-icon': this.leadingIcon,
          'mdc-text-field--with-trailing-icon': this.trailingIcon,
          'mdc-text-field--outlined': this.outlined,
          'mdc-text-field--dense': this.dense,
          'mdc-text-field--focused': this.focused
        }
      },
      labelClasses () {
        return {
          'mdc-text-field__label--float-above': this.labelFloatAbove,
          'mdc-text-field__label--shake': this.labelShake
        }
      }
    },
    data () {
      return {
        mdcTextField: null
      }
    },
    props: {
      disabled: Boolean,
      id: {},
      label: {},
      value: {},
      labelFloatAbove: Boolean,
      labelShake: Boolean,
      upgraded: Boolean,
      fullWidth: Boolean,
      box: Boolean,
      bottomLine: Boolean,
      outlined: Boolean,
      dense: Boolean,
      focused: Boolean,
      leadingIcon: String,
      trailingIcon: String
    },
    mounted: function () {
      this.mdcTextField = MDCTextField.attachTo(this.$el)
      this.float = this.labelFloatAbove
    },
    name: 'mdc-textarea',
    watch: {
      value () {
        if (this.value === '') {
          this.float = false
        } else {
          this.float = true
        }
      }
    }
  }
</script>

<style lang="scss">
</style>
