<template>
  <div class="mdc-text-field" :class="classes">
    <i class="material-icons mdc-text-field__icon" v-if="leadingIcon">{{ leadingIcon }}</i>
    <input :id="id" class="mdc-text-field__input" :value="value" @input="onInput" v-bind="$attrs">
    <label class="mdc-text-field__label" :for="id" :class="labelClasses" v-if="label && !fullWidth">{{ label }}</label>
    <div class="mdc-line-ripple" />
    
    <div v-if="outlined" class="mdc-text-field__outline">
      <svg>
        <path class="mdc-text-field__outline-path" />
      </svg>
    </div>

    <div v-if="outlined" class="mdc-text-field__idle-outline" />
    <i class="material-icons mdc-text-field__icon" v-if="trailingIcon">{{ trailingIcon }}</i>
    <div v-if="bottomLine" class="mdc-text-field__bottom-line" />
  </div>
</template>

<script>
  import { MDCTextField } from '@material/textfield'

  export default {
    beforeDestroy () {
      this.mdcTextField.destroy()
    },
    computed: {
      classes () {
        return {
          'mdc-text-field--disabled': this.disabled,
          'mdc-text-field--upgraded': this.upgraded,
          'mdc-text-field--fullwidth': this.fullWidth,
          'mdc-text-field--box': this.box,
          'mdc-text-field--with-leading-icon': this.leadingIcon,
          'mdc-text-field--with-trailing-icon': this.trailingIcon,
          'mdc-text-field--outlined': this.outlined,
          'mdc-text-field--dense': this.dense,
          'mdc-text-field--focused': this.focused
        }
      },
      labelClasses () {
        return {
          'mdc-text-field__label--float-above': this.labelFloatAbove,
          'mdc-text-field__label--shake': this.labelShake
        }
      }
    },
    data () {
      return {
        mdcTextField: null,
        float: false
      }
    },
    methods: {
      onInput (event) {
        this.$emit('input', event.target.value)
      }
    },
    mounted () {
      this.mdcTextField = MDCTextField.attachTo(this.$el)
      this.float = this.labelFloatAbove
    },
    name: 'mdc-textfield',
    props: {
      id: String,
      label: String,
      value: [String, Number],
      disabled: Boolean,
      upgraded: Boolean,
      fullWidth: Boolean,
      box: Boolean,
      labelFloatAbove: Boolean,
      bottomLine: Boolean,
      outlined: Boolean,
      dense: Boolean,
      focused: Boolean,
      labelShake: Boolean,
      leadingIcon: String,
      trailingIcon: String
    },
    watch: {
      value () {
        if (this.value === '') {
          this.float = false
        } else {
          this.float = true
        }
      }
    }
  }
</script>

<style lang="scss" >
</style>
