<template>
  <p class="mdc-text-field-helper-text" :class="classes" aria-hidden="true">
    <slot />
  </p>
</template>

<script>
  export default {
    computed: {
      classes () {
        return {
          'mdc-text-field-helper-text--persistent': this.persistent,
          'mdc-text-field-helper-text--validation-msg': this.validationMsg
        }
      }
    },
    name: 'mdc-text-field-helper-text',
    props: {
      persistent: Boolean,
      validationMsg: Boolean
    }
  }
</script>

<style lang="scss">
</style>
